/* ===== All custom style here ===== */

/* Left menu - Left icon */
.hw-icon-square{background: url(../img/custom/square.png) no-repeat center center; padding: 7px;}

/* Left menu - Right icon */
.hw-icon-open{background: url(../img/custom/open.png) no-repeat top right;background-size: 10px 10px; padding: 5px}
.hw-icon-close{background: url(../img/custom/close.png) no-repeat top right; background-size: 10px 10px; padding: 5px}
/* Style frontend menu*/
.display-none {
    display:none !important;
}
/* Style follows*/
#message-follow {
    padding: 0 0 5px 20px;
}
.error{
    color: red;
}
.success {
    color: blue;
}
.error-comment{
    color: #3b3b1f;
}
.success-comment {
    color: #b3b3b3;
}
/*Style for view file*/
.error-view-file .flash_error p{
    padding:0px;
    color:#3b3b1f;
}
/* style button search */
.wrapper .main .mainRight .search .searchContent button[type="submit"] {
    position: absolute;
    right: 7px;
    top: 1px;
    background: transparent;
    border: none;

}
/* Style in Comment*/
.btn-login-comment{
    float: left;
    padding:10px;
    border-radius:5px;
    text-align:center;
}
.btn-register-comment{
    float: left;
    padding:10px;
    border-radius:5px;
    text-align:center;
}
.main-comment{
    position: relative;
    padding: 20px;
    padding-top: 10px;
    min-height: 60px;
}
.content-comment{
    text-transform: capitalize;
    width:100%;
    clear:both
}

/* Style for Image*/
.image-slide{
    width:616px;
    height:363px;
}
.image-index{
    width:283px;
    height:172px;
}
.image-listnews{
    width:230px;
    height:140px;
}
.image-listnews{
    width:230px;
    height:140px;
}
.image-detail-news{
    width:597px;
    height:363px;
}
.image-detail-magazines{
    width:597px;
    height:363px;
}
.image-topics{
    width:283px;
    height:172px;
}
.image-magazine{
    width:230px;
    height:140px;
}
.image-blog{
    width:230px;
    height:140px;
}
.image-list-topic{
    width:230px;
    height:140px;
}
.image-search{
    width:230px;
    height:140px;
}
.image-tag{
    width:230px;
    height:140px;
}
.demo-red{
    color: red;
}
/*Style for link text*/
.link-text{
    text-decoration: underline;
    color:#9572bd;
}
/* Style for read online*/
.text-underline{
    text-decoration: underline;
}
.close{
    font-family:arial;
}
.top-100{
    top:100px;
}
#popup-read-file{
    display: none;
}

/* Style for contact us*/
.error-message ul{
    padding-left:0px;
}
#form-contact .error{
    font-weight: normal !important;
}

.btn50{ width: 100%}

/* Style for book magazine*/
.form-book-magazine .error{
    font-weight: normal !important;
}
.form-book-magazine .demo-red{
    font-weight: normal !important;
}
.form-book-magazine .line30{
    line-height:30px;
}
.form-book-magazine .line35{
    line-height:35px;
}
.form-book-magazine .pay_total{
    display: none;
}
.top-20{
    margin-top:20px;
}

/* Style for register*/
.form-register .error{
    font-weight:normal !important;
}

.flash_error p{
    padding-left: 155px;
    font-size: 15px;
    color: red;
}

.list-content {
    padding-left: 0px;
}
.list-content li {
    list-style: none outside none;
    margin: 0 0 10px;
}
.account-info li .boxContent {
    display: none;
    width: 100% !important;
    border:1px solid #cccccc;
    padding:10px;
}

.list-content li .boxContent {
    display: none;
    width: 636px;
    border:1px solid #cccccc;
    padding:10px;
}


.list-content li.active .boxContent {
    display: block;
}
.list-content li .boxContent ul {
    max-height: 280px;
}
table tr td .input input{
    background: none;
    border: none;
}
table tr td{
    padding: 5px;
}

i.VISA, i.MASTE, i.AMREX, i.JCB, i.VCB, i.TCB, i.MB, i.VIB, i.ICB, i.EXB, i.ACB, i.HDB, i.MSB, i.NVB, i.DAB, i.SHB, i.OJB, i.SEA, i.TPB, i.PGB, i.BIDV, i.AGB, i.SCB, i.VPB, i.VAB, i.GPB, i.SGB,i.NAB,i.BAB
{ width:80px; height:30px; display:block; background:url('../img/images/bank_logo.png') no-repeat;}
i.MASTE { background-position:0px -31px}
i.AMREX { background-position:0px -62px}
i.JCB { background-position:0px -93px;}
i.VCB { background-position:0px -124px;}
i.TCB { background-position:0px -155px;}
i.MB { background-position:0px -186px;}
i.VIB { background-position:0px -217px;}
i.ICB { background-position:0px -248px;}
i.EXB { background-position:0px -279px;}
i.ACB { background-position:0px -310px;}
i.HDB { background-position:0px -341px;}
i.MSB { background-position:0px -372px;}
i.NVB { background-position:0px -403px;}
i.DAB { background-position:0px -434px;}
i.SHB { background-position:0px -465px;}
i.OJB { background-position:0px -496px;}
i.SEA { background-position:0px -527px;}
i.TPB { background-position:0px -558px;}
i.PGB { background-position:0px -589px;}
i.BIDV { background-position:0px -620px;}
i.AGB { background-position:0px -651px;}
i.SCB { background-position:0px -682px;}
i.VPB { background-position:0px -713px;}
i.VAB { background-position:0px -744px;}
i.GPB { background-position:0px -775px;}
i.SGB { background-position:0px -806px;}
i.NAB { background-position:0px -837px;}
i.BAB { background-position:0px -868px;}
i.MASTE { background-position: 0px -30px;}
i.VISA { background-position: 0px 0px;}

ul.cardList li {
    cursor: pointer;
    float: left;
    margin-right: 0;
    padding: 5px 4px;
    text-align: center;
    width: 90px;
}
.select-title form{
    display:flex;
}
.select-title form label{
    font-size: 16px;
    color:#0c87c1;
    padding-right: 10px;
    line-height: 30px;
}
.select-title .submit input[type=submit]{
    height: 30px;
    background: #0c87c1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
.select-title .select select{
    width: 110px;
    height: 30px;
    margin-right: 10px;
}
.date-sale-off {
    margin-top: 7px;
}
.wrapper #cssmenu ul li a:hover {
    background: #0c87c1 !important;
}
.wrapper #cssmenu ul li.active {
    background: #0c87c1 !important;
}
