@media only screen and (max-width: 991px) {
    /* .articleThumbnail .picture-thumnail {
        text-align: left;
    } */
    /* .container {
        width: 970px;
    } */
    .bx-viewport {
        height: auto !important;
    }

    .slideNews img {
        height: auto !important;
    }

    .bx-wrapper .bx-controls-direction a {
        top: 40% !important;
    }

    .picture-thumnail img {
        float: left;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper .main .mainLeft .homePg .blog .article .contentArticle {
        display: inline;
    }

    .wrapper .main .mainLeft .homePg .blog .article .articleThumbnail {
        height: auto !important;
    }

    .mainRight .dat img {
        width: 100% !important;
    }
}


@media only screen and (max-width: 767px) {
    .slideNews img {
        width: 100% !important;
    }

    .bxslider {
        padding-left: 0px !important;
    }

    .mainLeft {
        margin-right: 0px !important;
        margin-bottom: 20px;
    }

    .mainLeft .picture-thumnail img {
        width: 100% !important;
        height: auto !important;
    }
}

@media only screen and (max-width: 600px) {
    .logoRadius {
        max-width: 90px !important;
        min-width: 90px !important;
    }

    .bannerLogoSlogan {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .logoRadius {
        margin-left: -7px;
    }
}
@media only screen and (max-width: 450px) {
    .logoRadius {
        margin-left: -10px;
    }
    .slogan {
        font-size: 36px;
    }
}

@media only screen and (max-width: 340px) {
    .logoRadius {
        margin-left: -15px;
    }
    .slogan {
        font-size: 30px;
    }
}

