@media (max-width: 768px) {
  .wrapper .banner {
    padding: 10px 0;
  }
  .wrapper .banner .bannerLeft {
    text-align: center;
    margin-bottom: 10px;
  }
  .wrapper .main .mainLeft {
    margin-right: 0;
  }
  .wrapper .main .mainLeft .homePg .blog .article .titleArticle {
    font-size: 16px;
    height: auto;
  }
  .wrapper .main .mainLeft .homePg .blog .article .contentArticle {
    display: none;
  }
  .wrapper .main .mainLeft .list_topic_Pg .article .articleThumbnail {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .wrapper .main .mainLeft .list_topic_Pg .article .contentArticle {
    display: none;
  }
  .wrapper .main .mainLeft .list_topic_Pg .article .titleArticle {
    font-size: 16px;
  }
  .wrapper .main .mainLeft .list_topic_Pg_1 .article .articleThumbnail {
    margin-bottom: 10px;
  }
  .wrapper .main .mainLeft .list_topic_Pg_1 .article .contentArticle {
    height: auto;
    padding: 0;
  }
  .wrapper .main .mainLeft .list_topic_Pg_1 .article .contentArticle .descriptionArticle {
    display: none;
  }
  .wrapper .main .mainLeft .list_topic_Pg_1 .article .contentArticle .titleArticle {
    font-size: 16px;
  }
  .wrapper .main .mainLeft .loginPage .form-horizontal .form-group {
    margin: 0;
  }
  .wrapper .main .mainLeft .loginPage .btn {
    margin-top: 10px;
  }
  .wrapper .main .mainRight .dera .titleDera {
    font-size: 25px;
    line-height: 25px;
    padding: 20px 0;
  }
  .wrapper .main .mainRight .dat {
    margin-top: 10px;
    position: relative;
  }
  .wrapper .main .mainRight .dat a {
    background: #8072bd;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    padding: 8px 20px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: UTMAvoBold;
  }
  .wrapper .main .mainRight .dat a:hover {
    text-decoration: none;
    background: #9572bd;
  }
  .wrapper .footer .bottom {
    padding: 10px;
  }
  .wrapper .footer .bottom .linkBottom a img {
    height: 18px;
  }
  .wrapper #cssmenu ul ul li a {
    width: 100%;
    background: #eee;
    color: #333;
  }
  .wrapper #cssmenu > ul > li.has-sub > a:before {
    background: #333;
  }
  .wrapper #cssmenu .submenu-button:before {
    background: #333;
  }
  .wrapper #cssmenu .submenu-button:after {
    background: #333;
  }
}
@media (max-width: 1024px) {
  .wrapper .main .mainLeft .homePg .blog .titleBLog {
    height: auto;
  }
  .wrapper .main .mainLeft .homePg .blog .article .articleThumbnail {
    height: auto;
  }
  .wrapper .main .mainLeft .homePg .blog .article .contentArticle {
    height: auto;
  }
  .wrapper .main .mainLeft .list_topic_Pg_1 .blog .titleBLog {
    height: auto;
  }
  .wrapper .main .mainLeft .list_topic_Pg_1 .blog .article .articleThumbnail {
    height: auto;
  }
  .wrapper .main .mainRight {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .viewPC .container {
    width: 1200px;
  }
}
