@import 'font.css';
@import "media.css";
body {
  font-size: 14px;
  line-height: 20px;
  font-family: tahoma;
  color: #333;
}
body a {
  color: #333;
}
body a:hover {
  color: #0c87c1;
  text-decoration: none;
}
body a:focus {
  text-decoration: none;
  outline: none;
}
body button:focus {
  outline: none;
}
body input[type=text],
body textarea {
  border: 1px solid #d7d7d7;
  padding: 0 5px;
  height: 27px;
  outline: none;
}
body li {
  list-style: none;
}
body img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  margin: auto;
}
.wrapper .banner {
  padding: 10px 0;
}
.wrapper .banner .bannerRight {
  text-align: right;
}
.wrapper .banner .bannerRight a {
  padding-left: 10px;
}
.wrapper .banner .bannerLeft img {
  width: 350px;
}
.wrapper #cssmenu > ul > li.has-sub > a:before {
  background: #333;
}
.wrapper #cssmenu > ul > li.has-sub > a:after {
  background: #333;
}
.wrapper #cssmenu > ul > li.has-sub > a:hover:after {
  background: #fff;
}
.wrapper #cssmenu > ul > li:hover > a {
  color: #333;
}
.wrapper #cssmenu ul ul li a {
  color: #fff;
  width: 200px;
}
.wrapper #cssmenu {
  z-index: 999;
  background: #fff;
  border: 1px solid #cccccc;
}
.wrapper .main .mainLeft .homePg .slideNews .bx-wrapper .bx-controls-direction a {
  z-index:999;
}
.wrapper #cssmenu ul li {
  border-right: 1px solid #ccc;
}
.wrapper #cssmenu ul li.active {
  background: #0c87c1;
  color: #fff;
}
.wrapper #cssmenu ul li.active a {
  color: #fff;
}
.wrapper #cssmenu ul li a {
  color: #333;
  font-size: 14px;
  padding: 15px 25px;
}
.wrapper #cssmenu ul li a:hover {
  background: #0c87c1;
  color: #fff;
}
.wrapper #cssmenu ul li ul li {
  border: none;
}
.wrapper #cssmenu ul li ul li.active {
  background: #0c87c1;
  color: #fff;
}
.wrapper #cssmenu ul li ul li.active a {
  background: #db4082;
  color: #fff;
}
.wrapper #cssmenu ul li ul li a {
  color: #fff;
  font-size: 14px;
  padding: 15px 25px;
}
.wrapper #cssmenu ul li ul li a:hover {
  background: #db4082;
  color: #fff;
}
.wrapper #cssmenu #menu-button {
  background: #666;
}
.wrapper .main {
  margin: 30px 0 50px 0;
}
.wrapper .main .mainLeft {
  margin-right: 20px;
}
.wrapper .main .mainLeft .homePg .slideNews .bx-controls-auto {
  display: none;
}
.wrapper .main .mainLeft .homePg .slideNews .bx-wrapper {
  margin-bottom: 0;
}
.wrapper .main .mainLeft .homePg .slideNews .bx-wrapper .bx-pager {
  display: none;
}
.wrapper .main .mainLeft .homePg .slideNews .bx-wrapper .bx-viewport {
  box-shadow: none;
  border: 0;
}
.wrapper .main .mainLeft .homePg .slideNews .article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}
.wrapper .main .mainLeft .homePg .blog {
  margin-top: 30px;
}
.wrapper .main .mainLeft .homePg .blog .titleBLog {
  height: 40px;
}
.wrapper .main .mainLeft .homePg .blog .article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.wrapper .main .mainLeft .homePg .blog .article .titleArticle {
  margin-top: 0;
  margin-bottom: 10px;
  height: 35px;
}
.wrapper .main .mainLeft .homePg .blog .article .articleThumbnail {
  height: 180px;
  text-align: center;
}
.wrapper .main .mainLeft .homePg .blog .article .contentArticle {
  height: 150px;
}
.wrapper .main .mainLeft .homePg .blog .article .otherArticle {
  font-size: 12px;
  font-style: italic;
  color: #666;
}
.wrapper .main .mainLeft .homePg .blog .article .otherArticle span {
  margin-left: 20px;
  color: #0c87c1;
}
.wrapper .main .mainLeft .homePg .blog .article .otherArticle span img {
  vertical-align: baseline;
}
.wrapper .main .mainLeft .list_topic_Pg_1 .blog {
  margin-bottom: 40px;
}
.wrapper .main .mainLeft .list_topic_Pg_1 .blog .titleBLog {
  height: 50px;
}
.wrapper .main .mainLeft .list_topic_Pg_1 .blog .titleBLog label {
  font-size: 18px;
  line-height: 25px;
}
.wrapper .main .mainLeft .list_topic_Pg_1 .article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.wrapper .main .mainLeft .list_topic_Pg_1 .article .titleArticle {
  margin-top: 0;
  margin-bottom: 10px;
}
.wrapper .main .mainLeft .list_topic_Pg_1 .article .contentArticle {
  height: 200px;
}
.wrapper .main .mainLeft .list_topic_Pg_1 .article .articleThumbnail {
  text-align: center;
}
.wrapper .main .mainLeft .list_topic_Pg_1 .article .otherArticle {
  font-size: 12px;
  font-style: italic;
  color: #666;
}
.wrapper .main .mainLeft .list_topic_Pg_1 .article .otherArticle span {
  margin-left: 20px;
  color: #0c87c1;
}
.wrapper .main .mainLeft .list_topic_Pg_1 .article .otherArticle span img {
  vertical-align: baseline;
}
.wrapper .main .mainLeft .list_topic_Pg .blog {
  margin-bottom: 40px;
}
.wrapper .main .mainLeft .list_topic_Pg .blog .titleBLog label {
  font-size: 22px;
  line-height: 25px;
}
.wrapper .main .mainLeft .list_topic_Pg .article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.wrapper .main .mainLeft .list_topic_Pg .article .titleArticle {
  margin-top: 0;
  margin-bottom: 10px;
}
.wrapper .main .mainLeft .list_topic_Pg .article .articleThumbnail {
  text-align: center;
}
.wrapper .main .mainLeft .list_topic_Pg .article .otherArticle {
  font-size: 12px;
  font-style: italic;
  color: #666;
}
.wrapper .main .mainLeft .list_topic_Pg .article .otherArticle span {
  margin-left: 20px;
  color: #0c87c1;
}
.wrapper .main .mainLeft .list_topic_Pg .article .otherArticle span img {
  vertical-align: baseline;
}
.wrapper .main .mainLeft .detail_topic_Pg .blog {
  margin-bottom: 40px;
}
.wrapper .main .mainLeft .detail_topic_Pg .blog .titleBLog label {
  font-size: 24px;
}
.wrapper .main .mainLeft .detail_topic_Pg .article {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.wrapper .main .mainLeft .detail_topic_Pg .article .titleArticle {
  margin-top: 0;
  margin-bottom: 10px;
}
.wrapper .main .mainLeft .detail_topic_Pg .article .articleThumbnail {
  margin-bottom: 10px;
}
.wrapper .main .mainLeft .detail_topic_Pg .article .otherArticle {
  font-size: 12px;
  font-style: italic;
  color: #666;
}
.wrapper .main .mainLeft .detail_topic_Pg .article .otherArticle span {
  margin-left: 20px;
  color: #0c87c1;
}
.wrapper .main .mainLeft .detail_topic_Pg .article .otherArticle span img {
  vertical-align: baseline;
}
.wrapper .main .mainLeft .loginPage .btn {
  width: 100%;
  margin-bottom: 10px;
}
.wrapper .main .mainLeft .contact_Pg .blog {
  margin-bottom: 40px;
}
.wrapper .main .mainLeft .contact_Pg .blog .titleBLog label {
  font-size: 18px;
}
.wrapper .main .mainLeft .contact_Pg .blog.comment {
  margin-top: 30px;
  margin-bottom: 20px;
}
.wrapper .main .mainLeft .contact_Pg .contactForm {
  margin-bottom: 20px;
}
.wrapper .main .mainLeft .contact_Pg .contactForm input[type=text] {
  width: 100%;
  margin-bottom: 10px;
}
.wrapper .main .mainLeft .contact_Pg .contactForm .btn {
  width: 100%;
}
.wrapper .main .mainLeft .contact_Pg .contactForm textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
}
.wrapper .main .mainLeft .infoPg .list1 {
  margin-bottom: 2px;
}
.wrapper .main .mainLeft .infoPg .list1 label {
  background: #ccc;
  width: 100%;
  padding: 5px;
}
.wrapper .main .mainLeft .infoPg .list1 p {
  padding: 3px 0;
}
.wrapper .main .mainLeft .infoPg .list1 .btn {
  margin-top: 20px;
}
.wrapper .main .mainRight {
  margin-left: 10px;
}
.wrapper .main .mainRight .search {
  background: #666666;
  padding: 15px;
  color: #fff;
}
.wrapper .main .mainRight .search .searchContent {
  color: #333;
  position: relative;
  margin-bottom: 3px;
}
.wrapper .main .mainRight .search .searchContent input[type=text] {
  width: 100%;
  border-radius: 30px;
  padding: 0 30px 0 10px;
}
.wrapper .main .mainRight .search .searchContent span {
  position: absolute;
  right: 7px;
  top: 1px;
}
.wrapper .main .mainRight .dera {
  margin-top: 10px;
  background: url("../img/images/bg_de.jpg") no-repeat;
  background-size: 100% auto;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.wrapper .main .mainRight .dera .titleDera {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  padding: 20px;
}
.wrapper .main .mainRight .dat {
  margin-top: 10px;
  position: relative;
}
.wrapper .main .mainRight .dat a {
  background: #8072bd;
  border-radius: 30px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  padding: 8px 20px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 17px;
  font-weight: bold;
  font-family: UTMAvoBold;
  padding-top: 11px;
}
.wrapper .main .mainRight .dat a:hover {
  text-decoration: none;
  background: #9572bd;
}
.wrapper .main .mainRight .tags {
  margin-top: 10px;
}
.wrapper .main .mainRight .tags .titleTag {
  font-size: 16px;
  color: #0c87c1;
  margin-bottom: 10px;
}
.wrapper .main .mainRight .tags .contentTag {
  background: #efefef;
  padding: 15px 20px;
}
.wrapper .main .mainRight .tags .contentTag ul {
  margin: 0;
  padding: 0;
}
.wrapper .main .mainRight .tags .contentTag ul li {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-right: 15px;
}
.wrapper .main .mainRight .tags .contentTag ul li span {
  background: #ccc;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 7px;
  width: 5px;
  height: 5px;
}
.wrapper .main .mainRight .facebook {
  margin-top: 10px;
}
.wrapper .main .mainRight .download {
  margin-top: 10px;
  position: relative;
}
.wrapper .main .mainRight .download .contentDownload {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.wrapper .main .mainRight .download .contentDownload div {
  padding-top: 5px;
}
.wrapper .footer {
  padding-top: 20px;
}
.wrapper .footer .logoFooter {
  width: 220px;
}
.wrapper .footer .footerBlog {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 0;
}
.wrapper .footer .footerBlog .titleFooter {
  font-size: 20px;
  margin-bottom: 20px;
}
.wrapper .footer .footerBlog .titleFooter label {
  padding-top: 20px;
  font-weight: normal;
}
.wrapper .footer .footerBlog .contentFooter div {
  margin-bottom: 5px;
}
.wrapper .footer .footerBlog .contentFooter div label {
  margin-bottom: 0;
}
.wrapper .footer .footerBlog .follow .titleFooter {
  height: auto;
  margin-bottom: 10px;
}
.wrapper .footer .footerBlog form {
  position: relative;
}
.wrapper .footer .footerBlog form input[type=text] {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  height: 30px;
  padding: 0 100px 0 10px;
}
.wrapper .footer .footerBlog form input[type=submit] {
  background: #666;
  color: #fff;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding: 0 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.wrapper .footer .bottom {
  background: #eaeaea;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 12px;
}
.wrapper .footer .bottom .linkBottom {
  float: right;
}
.wrapper .footer .bottom .linkBottom a {
  padding: 0 5px;
}
.wrapper .footer .bottom .linkBottom a img {
  height: 25px;
}
.paging {
  text-align: center;
}
.paging .pagination>.active>a,
.paging .pagination>.active>span,
.paging .pagination>.active>a:hover,
.paging .pagination>.active>span:hover,
.paging .pagination>.active>a:focus,
.paging .pagination>.active>span:focus {
  background: #0c87c1;
  border-color: #0c87c1;
  color: #fff;
}
.paging .pagination>li>a,
.paging .pagination>li>span {
  color: #666;
}
.recent h6 {
  border-bottom: 1px solid #0c87c1;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 3px;
}
.recent ul {
  margin: 0;
  padding: 0;
}
.recent ul li {
  display: block;
  position: relative;
  padding: 5px 10px;
  padding-right: 15px;
  font-style: italic;
  font-size: 12px;
}
.recent ul li span {
  background: #ccc;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 12px;
  width: 5px;
  height: 5px;
}
.recent ul li a {
  font-size: 14px;
  font-style: normal;
}
.blog .titleBLog {
  position: relative;
  margin-bottom: 10px;
}
.blog .titleBLog span {
  position: absolute;
  background: #0c87c1;
  width: 13px;
  height: 4px;
  top: 12px;
}
.blog .titleBLog label {
  padding-left: 20px;
  color: #0c87c1;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
}
.blog .titleBLog label a {
  color: #0c87c1;
}
.blog .titleBLog a:hover {
  text-decoration: none;
}
.article .titleArticle {
  font-size: 18px;
  margin-top: 10px;
}
.article .contentArticle {
  padding: 10px 0;
}
.article .otherArticle {
  font-size: 12px;
}
.article .otherArticle a {
  font-style: italic;
  font-weight: bold;
}
.article .otherArticle span {
  color: #666;
}
.article .tagArticle {
  font-size: 12px;
  color: #666;
}
.article .tagArticle span {
  text-transform: uppercase;
}
.article .tagArticle a {
  color: #0c87c1;
}
.article button{ margin-top: 20px;}
.article .authorArticle{text-align: right; font-style: italic}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cl {
  clear: both;
}
.arrow_box {
  position: relative;
  background: #67b434;
}
.arrow_box:after {
  top: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136,183,213,0);
  border-top-color: #67b434;
  border-width: 15px;
  margin-left: -15px;
}
#cssmenu > ul > li.active.has-sub > a:before {
  background: #fff;
}
#cssmenu > ul > li.active.has-sub > a:after {
  background: #fff;
}
